{% load i18n lfs_tags %}

<div id="bulk-prices">
    <h2 class="heading-first">{% trans 'Bulk prices' %}</h2>

    <form action="{% url lfs_bulk_prices_update %}"
          method="POST">
        <input type="hidden" name="product_id" value="{{ product.id }}" />
        {% csrf_token %}

        {% if not prices %}
            <div class="alert">
                {% trans "Not save yet" %}
            </div>
        {% endif %}
        <table class="lfs-manage-table">
            <tr>
                    <th class="number" width="31%">
                    {% trans "Amount" %}
                </th>
                <th class="number" width="31%">
                    {% trans "Absolute" %}
                </th>
                <th class="number" width="31%">
                    {% trans "Percentual" %}
                </th>
                <th></th>
            </tr>
            {% if not prices %}
                <tr class="bulk-price">
                    <td class="number">
                        <input type="hidden" name="price_id" value="first" />
                        <input type="text" class="number amount" name="amount-first" value="1.0" />
                        {{ product.get_unit }}
                    </td>
                    <td class="number">
                        <input type="text" class="price-absolute price-absolute-first number first" name="price_absolute-first" value="{{ product.price }}" /> {{ currency }}
                    </td>
                    <td class="number">
                        100 %
                    </td>
                    <td class="right"
                        width="80px">
                        <a href="" class="add-bulk-price-button"><img src="{{ STATIC_URL }}icons/add.png" alt="Add"></a>
                        <a href="" class="delete-bulk-price-button"><img src="{{ STATIC_URL }}icons/delete.png" alt="Delete"></a>
                    </td>
                </tr>
            {% endif %}
            {% for price in prices %}
                <tr class="bulk-price">
                    <td class="number">
                        <input type="hidden" name="price_id" value="{{ price.id }}" />
                        <input type="text" class="number amount" name="amount-{{ price.id }}" value="{{ price.amount }}" />
                        {{ product.get_unit }}
                    </td>
                    <td class="number">
                        <input type="text" class="price-absolute price-absolute-{{ price.id }} number {% if forloop.first %}first{% endif %}" name="price_absolute-{{ price.id }}" value="{{ price.price_absolute }}" />
                        {{ currency }}
                    </td>
                    <td class="number">
                        {% if forloop.first %}
                            100
                        {% else %}
                            <input type="text" class="price-percentual price-percentual-{{ price.id }} number" name="price_percentual-{{ price.id }}" value="{{ price.price_percentual }}" />
                        {% endif %}
                        %
                    </td>
                    <td class="right">
                        {% if forloop.last %}
                            <a href="" class="add-bulk-price-button"><img src="{{ STATIC_URL }}icons/add.png" alt="Add"></a>
                        {% endif %}
                        <a href="" class="delete-bulk-price-button"><img src="{{ STATIC_URL }}icons/delete.png" alt="Delete"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="buttons">
            <input class="button" type="submit" value='{% trans "Save" %}'/>
            <input class="button" type="reset" name='{% trans "Reset" %}'/>
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}lfs_bulk_prices/manage.js"></script>
<script>
    "use strict";
    BP.price_unit = "{{ product.get_unit }}";
    BP.currency = "{{ currency }}";
</script>
